html {
	overflow-y:hidden;
}
body {
	padding:1em;
}
h1 {
	font-size:200%;
	margin-bottom:0.5em;
}
.yui3-ss-event-log-widget ul {
	max-height:6em;
	border:1px solid #888;	
}

#control-buttons {
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #eee;
	border-radius: 10px;
}

#backup-explorer {
	white-space:nowrap;
}
.ss-smugmug-backup-pane {
	display:inline-block;
	vertical-align:top;
	overflow-y:auto;
}
.ss-smugmug-backup-structure-pane {
	width:20em;
}
.ss-smugmug-backup-structure-pane .customised {
	background-color: #F66;
	color: white;
	padding: 0 0.25em;
	font-size: 75%;
	border-radius: 4px;
	margin-left: 0.75em;
	vertical-align: middle;
	display: inline-block;	
}
.ss-smugmug-backup-node-pane {
	margin-left:1em;
}
.ss-smugmug-backup-structure-pane .yui3-treeview-node.customised {
	color:red;
}

.ss-field-list > dt {
    float:left;
    clear:left;
    width:10em;
    margin:0.5em 0;
}
.ss-field-list > dd {
    float:left;
    margin:0.5em 0;
}

.ss-collapsable-section > dt, .ss-collapsable-section > dd {
    overflow:hidden;
    width:auto;
}
.ss-collapsable-section > dt {
    font-size:120%;
    background-color:#eee;
    padding:0.5em;
}
.ss-collapsable-section > dd {
    margin-bottom:1.5em;
}

.CodeMirror {
	height:auto;
	font-size:14px;
}
.CodeMirror-scroll {
	max-height:14em;
	width:70em;
}