body {
	padding:1em;
}
h1 {
	font-size:200%;
	margin-bottom:0.5em;
}
.yui3-ss-event-log-widget ul {
	height:12em;
	border:1px solid #888;	
}

.quick-progressbar, .quick-progressbar span {
	height:1em;
	display:inline-block;
}
.quick-progressbar {
	width:10em;
	background-color:#888;
	vertical-align: middle;
	margin-left: 1em;
	border-radius: 4px;	
	overflow:hidden;
}
.quick-progressbar span {
	background-color:#66F;	
}