html {
	overflow-y:hidden;
}
body {
	padding:1em;
}
h1 {
	margin-bottom:0.5em;
}
.yui3-ss-event-log-widget ul {
	max-height:8em;
}

#control-buttons {
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #eee;
	border-radius: 10px;
}
#control-buttons input {
	max-width: 11em;
}
#file-backup-open {
	visibility:hidden;
	position:absolute;
}

#backup-explorer {
	white-space:nowrap;
}
.ss-smugmug-backup-pane {
	display:inline-block;
	vertical-align:top;
	overflow-y:auto;
}
.ss-smugmug-backup-structure-pane {
	width:20em;
}
.ss-smugmug-backup-node-pane {
	margin-left:1em;
	padding-bottom:4em;
}

.ss-field-list .field-title {
    padding:0.5em 1.5em 0.5em 0;
    vertical-align:top;
    min-width: 10em;
    font-weight:bold;
    text-align:right;
}
.ss-field-list .field-value {
    padding:0.5em 0;
    vertical-align:top;
    width:100%;
}
.ss-field-list .field-value input[type="text"] {
	width: 80%;	
	max-width: 50em;
}
.ss-field-list .alert {
	margin-bottom:0;
}

.ss-collapsable-section > dt, .ss-collapsable-section > dd {
    overflow:hidden;
    width:auto;
}
.ss-collapsable-section > dt {
}
.ss-collapsable-section > dd {
    margin-bottom: 1.5em;
    padding-left: 3em;
}

.CodeMirror {
	height:auto;
	font-size:14px;
	margin-right:1em;
	
  	color: #555555;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.CodeMirror-focused {
    border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.CodeMirror-scroll {
	max-height:20em;
	width:100%;
}

.colour-swatch {
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 4px;
}

.field-node-feature-image .smugmug-image {
	max-width: 500px;
	max-height: 230px;
}

.smugmug-images li {
    display: inline-block;
    vertical-align: top;
    width:150px;
    height:150px;
    margin-right:8px;
    margin-bottom:8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}