body {
	padding:1em;
}

h1 {
	margin-bottom:0.5em;
}

.yui3-ss-event-log-widget ul {
	max-height:8em;
}

.smugmug-images li {
    display: inline-block;
    vertical-align: top;
}
.smugmug-images .smugmug-image {
    display:block;
	width:150px;
    height:150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	box-sizing: content-box;
	margin: 9px;
	border: 1px solid #333;
}
.smugmug-images .smugmug-image.selected {
	border: 6px solid #88F;
    border-radius: 6px;
	margin: 4px;
}

#control-buttons input {
	max-width: 11em;
}