body {
	padding:1em;
	padding-bottom:12em;
}

h1 {
	margin-bottom:0.5em;
}

.yui3-ss-event-log-widget ul {
	max-height:20em;
}

.smugmug-images {
	margin-left: -5px;
}
.smugmug-images .smugmug-image {
    display: inline-block;
    vertical-align: top;
	width:150px;
    height:150px;
	line-height:150px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	box-sizing: content-box;
	margin: 9px;
	border: 1px solid #333;
    border-radius: 6px;
	text-align:center;
    cursor:pointer;	
}
.smugmug-images .smugmug-image.selected {
	border: 6px solid #88F;
	margin: 4px;
}

#control-buttons input {
	max-width: 11em;
}

p {
    max-width:55em;
}
.directions img {
    margin-bottom: 1.5em;
    margin-left: 3em;
    margin-top: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.directions.collapsed {
	display:none;
}

.loading-spinner {
	margin-right:8px;
	width:32px;
	height:32px;
	background-image:url(spinner.gif);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}

.select-button-bar {
	margin-top:1em;
	margin-bottom:1em;
}

#paypal-button-panels .form-group {
	float: left;
	width: 35em;
	margin-right: 2em;
}
#paypal-button-panels {
	overflow: hidden;
}

#paypal-code-warning {
	display: none;
}