body {
	padding:1em;
	padding-bottom:12em;
}

h1 {
	margin-bottom:0.5em;
}

.yui3-ss-event-log-widget ul {
	max-height:20em;
}

.smugmug-images {
	margin-left: -5px;
}
.smugmug-images .smugmug-image {
    display: inline-block;
    vertical-align: top;
	width:150px;
    height:150px;
	line-height:150px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	box-sizing: content-box;
	margin: 9px;
	border: 1px solid #333;
    border-radius: 6px;
	text-align:center;
    cursor:pointer;	
}
.smugmug-images .smugmug-image.selected {
	border: 6px solid #88F;
	margin: 4px;
}

#control-buttons input {
	max-width: 11em;
}

p {
    max-width:55em;
}
.directions img {
    margin-bottom: 1.5em;
    margin-left: 3em;
    margin-top: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.directions.collapsed {
	display:none;
}

.loading-spinner {
	margin-right:8px;
	width:32px;
	height:32px;
	background-image:url(spinner.gif);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}

.select-button-bar {
	margin-top:1em;
	margin-bottom:1em;
}

.paypal-button-panels .form-group {
	float: left;
	width: 35em;
	margin-right: 2em;
}
.paypal-button-panels {
	overflow: hidden;
}
.paypal-button-panels select {
	width:16em;
}
#paypal-code-warning {
	display: none;
}

.ss-paypal-buy-now-section, .ss-paypal-button .ss-paypal-add-to-cart-section, .ss-paypal-button .ss-paypal-view-cart-section {
	margin-top:1em;
}
.ss-paypal-buy-now-section {
	margin-bottom:1em;
}
.ss-paypal-buy-now-section h4, .ss-paypal-button .ss-paypal-add-to-cart-section h4 {
    margin-bottom:0.5em;
}
.ss-paypal-product-options ul {
	padding:0;
	margin-left:0;
}
.ss-paypal-product-options li {
	list-style-type:none;
	padding-left:0;
	margin-left:0;
}
.ss-paypal-product-options li button {
	margin-left: 1em;
	margin-bottom: 3px;
	margin-top: 3px;    
}
.ss-paypal-product-options li img {
	margin-left: 1em;
	margin-top: 1px;
	vertical-align: middle;
	margin-bottom: 4px;
}
.ss-paypal-product-options li a {
	display: block;
}
.ss-paypal-product-options .ss-paypal-plain-label {
	margin-bottom:0.25em;
}
.ss-paypal-product-options .ss-paypal-plain-label:after {
	display:inline-block;
	margin-left:0.5em;
}
.ss-paypal-add-to-cart-section .ss-paypal-product-options .ss-paypal-plain-label:after {
	content: "[Add to cart]";
}
.ss-paypal-buy-now-section .ss-paypal-product-options .ss-paypal-plain-label:after {
	content: "[Buy now]";
}