.yui3-ss-progress-bar, .yui3-ss-progress-bar-content {
	height:1em;
	display:inline-block;
}
.yui3-ss-progress-bar {
	width:10em;
	background-color:#888;
	vertical-align: middle;
	margin-left: 1em;
	border-radius: 4px;	
	overflow:hidden;
}
.yui3-ss-progress-bar-content {
	background-color:#66F;	
}